/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); /*Font for the tittles*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap'); /*Font for elements other then the tittle*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', 'Segoe UI'; /*Normal font implemented*/ 
}

html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
}

h1 {font-family:'Poppins' 'Segoe UI'; color:#b2becd;}
h3 {font-family:'Pacifico';} /*Tittle font implemented*/
h2 {font-family:'Poppins'; color:#b2becd;}

.roundCorners {
    border-color: #fff;
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
}

/*Making the  logo circular*/
.circularBorderForLogo {
    border-color: #fff;
    border-width: 10px;
    border-style: solid;
    border-radius: 70%;
}

A {
    text-decoration: none;
    color: rgb(100, 1, 100);
}

#moto {
    background-image: linear-gradient(90deg, #fa8142, #ff4088);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
